In [1]:
import pandas as pd

In [119]:
df = pd.read_csv("2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")
df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [82]:
df['Date']

0       10142018
1       10192018
2       10142018
3       10172018
4       10172018
          ...
3018    10072018
3019    10132018
3020    10122018
3021    10102018
3022    10122018
Name: Date, Length: 3023, dtype: int64

In [120]:
#Criando uma coluna nova com tempo corretamente formatado em YYYY-mm-dd

datas_string = []
for i in df['Date']:
    datas_string.append(str(i))
df['data_string'] = datas_string


data_final = []
for i in df['data_string']:
    ano = i[4:8] #ano
    mes = i[0:2] #mês
    dia = i[2:4] #dia
    resultado = ano + '-' + mes + '-' + dia
    data_final.append(resultado)
df['data_string'] = data_final
df['data_string'] = pd.to_datetime(df['data_string'])
df.info()

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 32 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
 31  data_string                                 3023 non-null   datetime64[ns]
dtypes: bool(13), datetime64[ns](1), float64(2), int64(2), object(14)
memory usage: 487.2+ KB

In [137]:
df['Primary Fur Color'] = df['Primary Fur Color'].astype('category')

In [142]:
df['Primary Fur Color']

0            NaN
1            NaN
2           Gray
3           Gray
4           Gray
          ...
3018        Gray
3019        Gray
3020        Gray
3021        Gray
3022    Cinnamon
Name: Primary Fur Color, Length: 3023, dtype: category
Categories (3, object): ['Black', 'Cinnamon', 'Gray']

In [144]:
df['Primary Fur Color'].groupby()

TypeError: You have to supply one of 'by' and 'level'

In [152]:

for i in df["Primary Fur Color"].value_counts():
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>

In [192]:
categorias = df["Primary Fur Color"].value_counts().axes[0].categories #Categorias de cor
qtds = df["Primary Fur Color"].value_counts() #quantidade de cada cor

In [205]:
frequencia_cores = {}
for i in range(3):
    print(categorias[i] + ' '+str(qtds[i]))
    exec(f'frequencia_cores["{categorias[i]}"] = {str(qtds[i])}')

Black 2473
Cinnamon 392
Gray 103

In [208]:
frequencia_cores_df = pd.DataFrame.from_dict(frequencia_cores, orient='index')

In [209]:
frequencia_cores_df.to_csv('squirrel_count.csv')